@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization


@{
    ViewData["Title"] =  @_Localizer["AboutUs"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start About Area -->
<div id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image-wrap">
                    <img src="~/assets/images/main-slides/slides-5.jpeg" alt="image">

                    <div class="about-years">
                        <h3>25</h3>
                        <span>@_Localizer["years of experience"]</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span> @_Localizer["AboutUs"]</span>
                    <p class="justify-content " style="text-align: justify !important;">
                       @_Localizer["MainText1"]
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End About Area -->

