@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start About Area -->
<div id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image-wrap">
                    <img src="~/assets/images/main-slides/slides-5.jpeg" alt="image">

                    <div class="about-years">
                        <h3>25</h3>
                        <span>سال تجربه</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span>درباره ما</span>
                    <p class="justify-content " style="text-align: justify !important;">
                        این درگاه تجارت بین المللی ، تمام درخواست های بازرگانان اعم از خرید ، فروش و یا تهاتر را در تمام جهان مدیریت میکند .
                        خریداران به راحتی می‌توانند سفارشات فروش را بررسی و از طریق تعریف شده ارتباط برقرارکرده و یا تبادل نمایند و فروشندگان نیز اطلاعات محصولات و خدمات خود را درج و عرضه می‌کنند.
                        این درگاه لینک مستقیم سفارشات فروش و درخواست‌های خرید می‌باشد.
                        سفارشات و درخواست ها در این درگاه براساس موضوعی کالا و خدمات تقسیم بندی شده و می‌توان از طریق نام محصول و یا موضوع نسبت به جستجو نیز اقدام کرد.
                        یکی از ویژگی‌های این درگاه تعدد زبان ‌های رایج می‌باشد که می‌توان دسترسی به کالاها و محصولات در تمام جهان را میسر نماید.

                    </p>
                    <h4>علیرضا ناطقی</h4>
                    <span>مدیر عامل</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End About Area -->
<!-- Start Partner Area -->
<div class="partner-area pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-12">
                <div class="partner-content">
                    <span>شرکای ما</span>
                    <h3>برندهای قابل اعتمادی که با آنها کار می کنیم</h3>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="partner-slides-two owl-carousel owl-theme">
                    <div class="image-box">
                        <a href="about.html" target="_blank">
                            <img src="~/assets/images/partner/partner-1.png" alt="image">
                        </a>
                    </div>

                    <div class="image-box">
                        <a href="about.html" target="_blank">
                            <img src="~/assets/images/partner/partner-2.png" alt="image">
                        </a>
                    </div>

                    <div class="image-box">
                        <a href="about.html" target="_blank">
                            <img src="~/assets/images/partner/partner-3.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->
