@{
    ViewData["Title"] = "پیشنهادات فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-area ">
    <div class="container">
        <div class="kadi-grid-sorting row align-items-center">
            <div class="col-lg-8 col-md-6 result-count">
                <p>ما <span class="count">12</span> محصول را در دسترس قرار دادیم</p>
            </div>

            <div class="col-lg-4 col-md-6 ordering">
                <select class="selectize-filter">
                    <option value="">مرتب سازی بر اساس</option>
                    <option value="2">محصولات محبوب</option>
                    <option value="3">محصولات پرطرفدار</option>
                    <option value="5">محصولات پرفروش</option>
                    <option value="6">پیش فرض</option>
                    <option value="7">جدیدترین</option>
                    <option value="8">محصولات پیشنهادی</option>
                    <option value="9">قیمت: کمترین</option>
                    <option value="10">قیمت: بیشترین</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-1.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">دستگاه تصفیه هوا</a>
                        </h5>
                        <span>1900 تومان</span>

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pagination-area">
                    <a href="shop.html" class="prev page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a href="shop.html" class="page-numbers">2</a>
                    <a href="shop.html" class="page-numbers">3</a>
                    <a href="shop.html" class="next page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
