
@{
    ViewData["Title"] = "درخواست های خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="shop-area ">
    <div class="container">
        <div class="kadi-grid-sorting row align-items-center">
            <div class="col-lg-8 col-md-6 result-count">
                <p>ما <span class="count">12</span> درخواست خرید را در دسترس قرار دادیم</p>
            </div>

            <div class="col-lg-4 col-md-6 ordering">
                <select class="selectize-filter">
                    <option value="">مرتب سازی بر اساس</option>
                    <option value="6">پیش فرض</option>
                    <option value="2">بیشترین تعداد درخواست</option>
                    <option value="3">کمترین تعداد درخواست</option>
                    <option value="5">پرطرفدارترین محصولات</option>
                    <option value="7">جدیدترین درخواستها</option>
                    <option value="8">قدیمی ترین درخواستها</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-1.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">دستگاه تصفیه هوا</a>
                        </h5>
                       

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-2.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">سیستم تهویه هوا</a>
                        </h5>
                       

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-3.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">فن تهویه فضای باز</a>
                        </h5>
                        

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-4.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">فیلتر گرد و غبار</a>
                        </h5>
                        

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-5.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="#">کنترل از راه دور</a>
                        </h5>
                        

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-6.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">ترموستات دیجیتال</a>
                        </h5>
                      

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-7.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">فیلتر جاروبرقی</a>
                        </h5>
                       

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-8.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">منبع تغذیه</a>
                        </h5>
                        
                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-1.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">دستگاه تصفیه هوا</a>
                        </h5>
                       

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-2.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">سیستم تهویه هوا</a>
                        </h5>
                       

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-7.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">فیلتر جاروبرقی</a>
                        </h5>
                        

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-shop-card">
                    <div class="shop-image">
                        <a href="shop-details.html"><img src="~/assets/images/shop/shop-1.png" alt="image"></a>
                    </div>
                    <div class="shop-content">
                        <h5>
                            <a style="color:#00467f;" href="shop-details.html">دستگاه تصفیه هوا</a>
                        </h5>
                       

                        <div class="cart-icon">
                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pagination-area">
                    <a href="shop.html" class="prev page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a href="shop.html" class="page-numbers">2</a>
                    <a href="shop.html" class="page-numbers">3</a>
                    <a href="shop.html" class="next page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>










