@model BusinessPortal.Domain.ViewModels.Admin.Slider.CreateSliderViewModel

@using BusinessPortal.Domain.Entities.Services
@using BusinessPortal.Web.Culture
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "افزودن اسلایدر";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumbs
    {
    <li>
        <a asp-area="Admin" asp-controller="Slider" asp-action="ListOfSldiers"> مدیریت اسلایدر / </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <form method="post" asp-action="CreateSlider" asp-controller="Slider" asp-area="Admin" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-green">

                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                    <label asp-for="URL">عنوان اسلایدر</label>
                                <input type="text" class="form-control" asp-for="URL">
                                <span class="text-danger" asp-validation-for="URL"></span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> تصویر    </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <input type="file" class="display-none" name="serviceCategoryImage" id="ArticleImage" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                <div class="col-md-12">
                                    <label for="ArticleImage" class="file-input-style">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span class="mr-8px">لطفا  تصویر را انتخاب کنید .</span>
                                    </label>
                                </div>

                                <div class="col-md-12 tc mt-10px">
                                    <img src="@BusinessPortal.Application.StaticTools.PathTools.DefaultProductCategoryimage" class="Article-Priew" ImageFile="1" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


