@model List<BusinessPortal.Domain.Entities.Services.ServicesCategoryInfo>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization



<div class="mega-menu">
    <button class="mega-menu-btn-Services">
        <i class="fa fa-bars  ml-3 mr-3" aria-hidden="true" style="color: #fcb800;"></i> @_Localizer["Services"]
    </button>
    <ul class="mega-menu-list-Services">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <li class="mega-menu-item">
                    <a asp-action="FilterServiceProduct" asp-area="" asp-controller="ServiceProduct" asp-route-categoryId="@item.ServicesCategoryId" class="mega-menu-link">
                        @item.Title
                    </a>
                </li>
            }
        }
    </ul>
</div>
