@model List<BusinessPortal.Domain.Entities.BrowseCategory.Category>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization



<div class="mega-menu">
    <button class="mega-menu-btn-Services">
        <i class="fa fa-bars " aria-hidden="true" style="color: #fcb800;"></i> @_Localizer["Buy Ads Categories"]
    </button>
    <ul class="mega-menu-list-Services">
        @foreach (var item in Model.Where(p => p.ParentId == null))
        {
            <li class="mega-menu-item">
                <a  asp-action="FilterCustomerAdvertisement" asp-area="" asp-controller="Advertisement" asp-route-categoryId="@item.Id" class="mega-menu-link">
                    @item.DisplayName
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        }
    </ul>
</div>
