@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization
@model BusinessPortal.Domain.Entities.Account.User

<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
          
                                            @await Component.InvokeAsync("LanguagesComponent")

                <ul class="navbar-nav header-right">
                  
                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                            <img src="/UserPanel/images/profile/pic1.png" width="20" alt="" />
                            <div class="header-info">
                                <span>@_Localizer["User"] <strong> @User.Identity.Name  </strong></span>
                                <small> @_Localizer["User Wallet Balance"] :  @Model.WalletBalance.ToString("#,000") $ </small>
                            </div>
                        </a>

                    </li>
                  
                </ul>
            </div>
        </nav>
    </div>
</div>
