@using BusinessPortal.Application.Convertors
@using BusinessPortal.Application.Extensions
@model BusinessPortal.Domain.Entities.Account.User

<div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
    <div class="databox-top bg-white padding-10">
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <img src="/admin/assets/img/avatars/UserAvatar.jpg" style="width: 75px; height: 75px;" class="image-circular bordered-3 bordered-palegreen">
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-8 text-align-left padding-10">
            <span class="databox-text lightcarbon no-margin"> @Model.Email </span>
            @if (!string.IsNullOrEmpty(Model.Mobile))
            {
                <span class="databox-text lightcarbon no-margin"> @Model.Mobile </span>
            }

        </div>
    </div>

    <div class="databox-bottom bg-white no-padding">
        <div class="databox-row row-12">
            <div class="databox-row row-6 no-padding">
                <div class="databox-cell cell-4 no-padding text-align-center bordered-right bordered-platinum">
                    <span class="databox-text sonic-silver  no-margin"> وضعیت پروفایل </span>
                    @if (Model.IsBan)
                    {
                        <div style="margin-top:5px" class="badge badge-danger"> غیر فعال </div>
                    }
                    else
                    {
                        <div style="margin-top:5px" class="badge badge-success">  فعال </div>
                    }
                </div>
                <div class="databox-cell cell-4 no-padding text-align-center bordered-right bordered-platinum">
                    <span class="databox-text sonic-silver no-margin"> موجودی کیف پول  </span>
                    <span class="databox-number lightcarbon no-margin"> @Model.WalletBalance ریال</span>
                </div>
                <div class="databox-cell cell-4 no-padding text-align-center">
                    <span class="databox-text sonic-silver no-margin"> تاریخ ثبت </span>
                    <span class="databox-number lightcarbon no-margin"> @Model.CreateDate.ToShamsi() </span>
                </div>
            </div>
        </div>
    </div>
</div>