@model BusinessPortal.Domain.ViewModels.Admin.Dashboard.AdminDashboardViewModel
@{
    ViewData["Title"] = "داشبورد";
}

@section Styles
{
<style>

    .databox-bottom {
        height: 100% !important;
    }

    .databox.databox-vertical.databox-lg {
        height: 100%;
        width: 100%;
    }

    .databox.databox-vertical.databox-halved .databox-top {
        height: 60px;
    }

    .databox-icon {
        margin-top: 10px !important;
    }

    .dropdown-menu {
        left: 0;
        right: auto;
    }

    .AdvertisementImage {
        height: 80px;
        width: 80px;
        border-radius: 100%;
    }

</style>
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
<li>
    <a href="javascript:void(0)">داشبورد</a>
</li>
}

<div class="page-body">

    <div class="row">

        @*Box Of Lastest Waiting Requested Advertisement*@
        <partial name="_LastestWaitingRequestedAdvertisementPartial" model="@Model.ListOfWaitingRequestedAdvertisements" />

        @*Box Of Lastest Waiting On Sale Advertisement*@
                <partial name="_LastestWaitingOnSaleAdvertisementPartial" model="@Model.ListOfWaitingOnSaleAdvertisements" />
        
    </div>

</div>
