@model BusinessPortal.Domain.ViewModels.Site.Slogan.Slogan

@if (Model != null)
{
    <div class="col-lg-8 col-md-8 align-items-center justify-content-center text-center  ">
    <span class="Shoar">@Model.SloganTitle</span>
</div>
}

