@using BusinessPortal.Domain.ViewModels.Common
@using BusinessPortal.Application.StaticTools
@model BusinessPortal.Domain.ViewModels.Admin.Categories.CreateCategoryViewModel

@{
    ViewData["Title"] = "افزودن دسته بندی جدید";
}

@section Scripts
{
<partial name="_JqueryValidation" />
<script src="/admin/js/admin-custom.js"></script>
}

@section Breadcrumbs
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<form method="post" asp-action="CreateMainCategory" asp-controller="Categories" asp-area="Admin">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label asp-for="DsiplayNamne"></label>
                                <input type="text" class="form-control" asp-for="DsiplayNamne">
                                <span class="text-danger" asp-validation-for="DsiplayNamne"></span>
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label asp-for="URL"></label>
                                <input type="text" class="form-control" asp-for="URL">
                                <span class="text-danger" asp-validation-for="URL"></span>
                            </div>


                            <div class="form-group col-md-4 col-sm-12">
                                <label asp-for="Priority"></label>
                                <input type="number" min="1" placeholder="خالی بودن معادل بالاترین الویت است " class="form-control" asp-for="Priority">
                                <span class="text-danger" asp-validation-for="Priority"></span>
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> وضعیت </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="IsActive">
                                                <span class="text"> فعال </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
