@using BusinessPortal.Application.StaticTools

<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Brand -->
            <div class="navbar-header pull-right">
                <a href="/Home" class="navbar-brand">
                    <small>
                        <img src="~/Site/images/logo-2.png" alt="Logo" />
                    </small>
                </a>
            </div>
            <!-- /Navbar Brand -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>



            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                    <ul class="account-area">

     

                    </ul>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>
<!-- /Navbar -->