@model BusinessPortal.Domain.ViewModels.Account.LoginUserViewModel

@{
    ViewData["Title"] = " ورود";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<div class="login-area ">
    <div class="container">
        <div class="login-form">
            <div class="form-horizontal">
                <div class="row ">
                    <form asp-action="Login" asp-controller="Account" method="post">

                        <h4 class="text-center ">ورود به حساب کاربری</h4>


                        <div class="form-group">
                          
                            <div class="col-md-12">
                                <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>



                        <div class="form-group">
                           
                            <div class="col-md-12">
                                <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                        </div>


                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-6 remember-me-wrap">
                                <p>
                                    <input type="checkbox" id="test1" asp-for="RememberMe">
                                    <label for="test1">مرا بخاطر بسپار</label>
                                </p>
                               
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 mt-2 lost-your-password-wrap">
                                <div class="form-group">
                                    <a asp-action="ForgotPassword" asp-controller="Account">فراموشی رمز عبور  </a>
                                </div>
                            </div>
                        </div>

                        <div class="row p-3 m-3 ">
                            <button type="submit" class="default-btn">ورود</button>
                        </div>
                        <div class="account-text">
                            <p>حساب کاربری ندارید؟ <a asp-action="Register" asp-controller="Account">ثبت نام</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





