@model BusinessPortal.Domain.ViewModels.Account.RegisterUserViewModel

@{
    ViewData["Title"] = "ثبت نام";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<div class="p-3" style="background-image: url('/Site/images/banner/banner-bg-112.jpg');  background-position: center; background-size: cover;">
    <div class="container">
        <div class="form-horizontal">
            <div class="row mt-5">
                <div class="col-md-3"></div>

                <div class="col-md-6 text-right " style="background-color:#faf6f6; border: 2px double #dbd6d6; border-radius:12px ;">

                    <form asp-action="Register" asp-controller="Account" method="post">

                        <h4 class="text-center mt-3">ثبت نام در سایت Business Portal</h4>
                        <br />

                        <div class="form-group">
                            <lable class="control-label col-md-2">ایمیل</lable>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">تلفن همراه</lable>
                            <div class="col-md-10">
                                <input asp-for="Mobile" class="form-control" placeholder="تلفن همراه" />
                                <span class="text-danger" asp-validation-for="Mobile"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2"> کلمه عبور</lable>
                            <div class="col-md-10">
                                <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable class="control-label col-md-2"> تکرار کلمه ی عبور </lable>
                            <div class="col-md-10">
                                <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه ی عبور " />
                                <span class="text-danger" asp-validation-for="RePassword"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="main-btn" style="margin-right:150px ; margin-bottom:20px" type="submit">ارسال</button>
                            <a class="main-btn" style="margin-bottom:20px ; color:white; " asp-action="Login" asp-controller="Account">Login</a>
                        </div>

                    </form>

                </div>

                <div class="col-md-3"></div>
            </div>
            <br />
        </div>
    </div>
</div>

